#header {
    background-color: #1b1b1f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#header img {
    width: 70px;
}

#header a {
    list-style: none;
    color: white;
    margin-left: 20px;
}

#header svg {
    color: white;
}

#retourexperienceform {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    padding-bottom: 20px;
    border: 0.6px solid rgb(207, 229, 250);
}

#retourexperienceform form {
    justify-content: flex-start;
}



#retourexperienceform button {
    padding: 5px;
    font-size: 14px;
    background-color: #ccd100;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-style: none;
    border: rgb(146, 146, 146) solid 0.1px;
}

#footer {
    background-color: #1b1b1f;
    display: flex;
    justify-content: center;
    padding: 60px;
    margin-top: 90px;
    color: white;
}